html, body {
    font-family: Arial, Helvetica, sans-serif;
}

div #sorry {
    font-size: 30px;
}

h2 {
    margin: 20px;
}

img {
    width: 250px;
    height: 250px;
    border-color: none;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #000010;
}

a:hover {
    opacity: 0.5;
}

h3 {
    max-width: 250px;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
}

.shadow-5 {
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2);
}

:focus {
    outline: none;
}

h4 {
    font-size: 14px;
}

.games-searched {
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    background: #DAE2F8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
}

.games-searched:hover {
    opacity: 0.8;
}

.card-text {
    margin-top: 15px;
}